body{
    background-color: rgba(0, 128, 128, 0.7);
    margin: 0;
}

div{
    box-sizing: border-box;
}

h1, h2, h5{
    margin: 0;
    margin-left: 20px;
    font-style: "";
}

header{
    color: #fff;
    background-color: gray;
    font-family: sans-serif;
}
#app{
    margin: 0 auto;
    width: 60%;
}

#cal_display{
    margin-bottom: 20px;
    background-color: white;
}

input:focus {
    outline-width: 0;
}

#now_display{
    height: 60px;
    font-size: 50px;
    width: 95%;
    background-color: white;
    border: none;
    text-align: right;
}

#last_record{
    font-size: 30px;
    height: 60px;
    width: 98%;
    background-color: white;
    border: none;
    text-align: right;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    color:#fff;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 15px;
    width: calc((100% - 8%)/4);
    height: 50px;
    margin: 1%;

    cursor: pointer;
    border-style: solid;
    float: left;

    background-color: rgba(10, 46, 94, 0.795);
}